@import "tailwindcss";
.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #9a644a, #713600);
  left: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease-out;
}

.hover-underline::after {
  bottom: -5px;
  transform-origin: right;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}
.marquee-track {
  width: max-content;
  animation: marquee 80s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* globals.css / index.css / main.css */
.offcanvas-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.offcanvas-scroll::-webkit-scrollbar {
  display: none;
}
.hide-x-scroll {
  scrollbar-width: none;
}
.hide-x-scroll::-webkit-scrollbar {
  display: none;
}
